<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">

    
    <div class="row">
        <!-- Painel direito com informação das leads -->
        <div class="pane col-md-12">
            <div class="panel-heading text-center">
                <h5 class="text-info">Recebidas, Anuladas, Não aprovados e Financiadas</h5>
            </div>
            <div class="panel-body bg-warning">
                  <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors"> </canvas>
            </div>
        </div>
        <!-- Painel direito com informação dos Analistas -->

    </div>
    <div class="row">
    <!-- Painel esquerdo com informação das leads -->
        <div class="col-md-6">
            
        </div>
        <!-- Painel direito com informação dos Analistas -->
        <div class="col-md-6">
            
        </div>           
    </div>
