<!DOCTYPE html>
<!--
/*Listar e editar os parceiros financeiros
-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Lista dos Parceiros Financeiros
                <input class="input-sm" type="text" ng-model="searchFlt" placeholder="" title="Pesquisar"/>
            </h3>
            <div class="listPainel">
                <h4 ng-show="parceiros.length===0">Não há dados</h4>
                <ul ng-repeat="p in parceiros | filter:searchFlt" class="list-group">
                    <li class="list-unstyled">
                        <button ng-if="p.ativo==1" class="btn btn-block btn-primary" ng-click="editUser(p)" title="Clicar para ver detalhe.">{{p.nome}}</button>
                        <button ng-if="p.ativo==0" class="btn btn-block btn-danger" ng-click="editUser(p)" title="Clicar para ver detalhe.">{{p.nome}}</button>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-6" style="border-left: #269abc groove medium;">
            <h3>Parceiro</h3>
            <form  ng-submit="saveUser(edit)">
                <div class="form-group">
                    <label>Nome:</label>
                    <input class="form-control" ng-model="edit.nome" type="text" required="required"/>
                </div>
                <div class="form-inline">
                    <label>Ativo :</label>
                    <label><input class="form-control" name="ativo" ng-model="edit.ativo" type="radio" ng-value="1" ng-checked="edit.ativo==1" > SIM</label>
                    <label><input class="form-control" name="ativo" ng-model="edit.ativo" type="radio" ng-value="0" ng-checked="edit.ativo==0"  > NÃO</label>
                </div>
                <div class="form-group">
                    <label>Email: </label>
                    <input class="form-control" ng-model="edit.email" type="email"/>
                </div>
                <div class="form-inline">
                    <label>Telefone:</label>
                    <input class="form-control" ng-model="edit.telefone" type="tel"/>
                </div>
                    <div class="form-inline">
                        <label><input class="form-control" name="tipoparceiro" ng-model="edit.tipoparceiro" type="radio" ng-value="0" ng-checked="edit.tipoparceiro==0"  > Financiamentos</label>
                        &nbsp;&nbsp;&nbsp;
                        <label><input class="form-control" name="tipoparceiro" ng-model="edit.tipoparceiro" type="radio" ng-value="1" ng-checked="edit.tipoparceiro==1" > Cartão de Crédito</label>
                    </div>
                    <br/> 
                <div ng-if="edit.tipoparceiro==0">    
                    <div class="form-inline">
                        <label><input class="form-control" name="usaformula" ng-model="edit.usaformula" type="radio" ng-value="0" ng-checked="edit.usaformula==0"  > Percentagem</label>
                        &nbsp;&nbsp;&nbsp;<label><input class="form-control" name="usaformula" ng-model="edit.usaformula" type="radio" ng-value="1" ng-checked="edit.usaformula==1" > Formúla</label>
                    </div>
                    <div class="form-inline" ng-if="edit.usaformula==0">
                        <label>Percentagem: </label>
                        <input class="form-control" ng-model="edit.percentagem" value="{{edit.percentagem}}" type="number" step="0.1" min="0" max="10" /> %
                    </div>
                    <div class="form-group" ng-if="edit.usaformula==1">
                        <label>Descrição da formula: <small class="text-primary">Descrição para o programador aplicar</small></label>
                        <textarea class="form-control" rows="4" ng-model="edit.formula" ></textarea>
                    </div>                
                        <br/>
                </div>
                    
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Guardar</button>
                    <button class="btn btn-warning" type="button" ng-click="clear()">Limpar</button>
                    <button ng-show="edit.id" ng-if="edit.ativo==1"  type="button" class="btn btn-sm btn-danger pull-right" ng-click="removeUser(edit)">
                        <i class="fa fa-trash"></i> Desativar
                    </button>
                    <button ng-show="edit.id" ng-if="edit.ativo==0" type="button" class="btn btn-sm btn-success pull-right" ng-click="removeUser(edit)">
                        <i class="fa fa-check"></i> Ativar
                    </button>  
                </div>
            </form>
        </div>
    </div>
</div>
<br/><br/>
