<!DOCTYPE html>
<!--
    Pesquisar em leads novas, por telefone, nif ou email, 
    e colocar como ativa num determinado Gestor
-->

<div class="container">
    <div class="row">
        <h3>Filtros</h3>
    </div>
    <div class="row">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Codigo</th>
                    <th>Filtro</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in filtros">
                    <td ng-class="{'text-danger': f.status!=1}">{{f.nome}}</td>
                    <td ng-class="{'text-danger': f.status!=1}">{{f.codigo}}</td>
                    <td ng-class="{'text-danger': f.status!=1}">{{f.filtro}}</td>
                    <td><button class="btn btn-sm btn-danger" ng-if="f.status==1" ng-click="ativarFiltro(f, 0)"><i class="fa fa-times"> Desativar</i></button></td>
                    <td><button class="btn btn-sm btn-success" ng-if="f.status==0" ng-click="ativarFiltro(f, 1)"><i class="fa fa-check"> Ativar</i></button></td>
                    <td><button class="btn btn-sm btn-info" ng-click="editarFiltro(f)"><i class="fa fa-pencil"></i></button></td>
                    <td><button class="btn btn-sm btn-warning" ng-click="copiarFiltro(f)"><i class="fa fa-copy"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <h3>Filtros</h3>
        <input type="hidden"  name="id" ng-model="nf.id">
        <input type="text" class="col-xs-2" name="nome" ng-model="nf.nome" placeholder="Nome">
        <input type="text" class="col-xs-2" name="codigo" ng-model="nf.codigo" placeholder="Código">
        <textarea class="col-xs-12" name="filtro" ng-model="nf.filtro" placeholder="filtro"></textarea>
        <button class="btn btn-success" type="button" ng-click="guardarFiltro(nf)">Guardar</button>
    </div>


</div>



