<!DOCTYPE html>
<!--
Visualizar com graficos os financiamentos dos meses anteriores
Quantidade e valor financiado por mes e por gestor / analista conforme o tipo de utilizador
-->

<div class="container">
        <div class="row">
        <!-- Painel com informação das leads -->
            <div class="pane col-md-12">
                <div class="panel-heading text-center">
                    <h3 class="text-info">Financiamentos</h3>
                </div>
                <div class="panel-body bg-warning">
                      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors"> </canvas>
                </div>
            </div>
        </div>
</div>