<div class="container text-center">
    <div class="row">
    <h3>Enviar nova senha para clientes</h3>
    
    <div class="form-group col-xs-2 col-xs-offset-5">
        <label>Numero de Cliente</label>
        <input class="form-control" type="text" ng-model="lead" >
        <button class="btn btn-success" ng-click="enviarPass()">Enviar</button>
    </div>
    </div>
    <div class="row">
    <p>Envia um email para o cliente com uma nova senha de acesso ao Portal do cliente</p>
    </div>
    
    
</div>
