<!DOCTYPE html>
<!--
    Vista inicial do Gestor. Aqui serão apresentadas as principais informações
    sobre as LEADS e as principais ações.
-->

<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="wel bg-info">
            <h2 class="text-center text-info">Gestão de Cartões de Crédito
                <button class="btn btn-primary pull-right" ng-click="registarSugestao()" title="Registar sugestão de CC a um cliente">
                    <i class="fa fa-plus-circle"></i> Registar Sugestão de CC </button>
            </h2>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default phcc">
              <div class="panel-heading">
                <h3 class="panel-title">Sugerido ao Cliente</h3>
              </div>
              <div class="panel-body">
                  <div class="col-xs-2 text-center">
                        <h1 class="" style="font-size: {{n}}em">{{qtySugeridos}}</h1>
                  </div>
                  <div class="col-xs-10">
                      <table class="table table-hover table-condensed">
                          <thead class="">
                              <tr>
                                  <th>LEAD</th>
                                  <th>Nome</th>
                                  <th>Telefone</th>
                                  <th>Status Financiamento</th>
                                  <th>Data Sugestão</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="s in sugeridos ">
                                  <td><a href="#!/sugerido/{{s.lead}}">{{s.lead}}</a></td>
                                  <td>{{s.nome}}</td>
                                  <td>{{s.telefone}}</td>
                                  <td>{{s.status}}</td>
                                  <td>{{s.sugerido}}</td>
                              </tr>
                          </tbody>
                      </table>
                      <a ng-if="qtySugeridos>=1" href="#!/listsug" class="btn btn-default btn-block">Ver todos</a> 
                  </div>
              </div>
            </div>
        </div>
        
        <!-- Aceites pelo cliente -->
        <div class="col-xs-6">
            <div class="panel panel-success phcc">
              <div class="panel-heading">
                <h3 class="panel-title">Aceite pelo Cliente</h3>
              </div>
              <div class="panel-body">
                  
                      <div class="col-xs-2 text-center">
                         <h1 class="text-success" style="font-size: {{n}}em">{{qtyAceites}}</h1>
                      </div>
                      <div class="col-xs-10">
                      <table class="table table-condensed table-hover">
                          <thead class="text-success">
                              <tr>
                                  <th>LEAD</th>
                                  <th>Nome</th>
                                  <th>Telefone</th>
                                  <th>Status Financiamento</th>
                                  <th>Data Aceite</th>
                        <!--          <th>Plafond Pretendido</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="lc in listaAceites">
                                  <td>{{lc.lead}}</td>
                                  <td>{{lc.nome}}</td>
                                  <td>{{lc.telefone}}</td>
                                  <td>{{lc.status}}</td>
                                  <td>{{lc.dataresposta}}</td>
                            <!--      <td>{{lc.plafondPedido | currency:'€'}}</td> -->
                                  <td>
                              </tr>
                          </tbody>
                      </table>                      
                          <a href="#!/listAc" ng-if="qtyAceites>=1" class="btn btn-sm btn-success btn-block">Ver todos</a> 
                  </div>
              </div>
            </div>
        </div>
        
        <!-- Situação dos contratos  -->
        <div class="col-xs-12">
            <div class="panel panel-success phcc">
              <div class="panel-heading">
                <h3 class="panel-title">Situação dos contratos</h3>
              </div>
              <div class="panel-body">
                  
                      <div class="col-xs-2 text-center">
                         <h1 class="text-success" style="font-size: {{n}}em">{{qtyContratos}}</h1>
                      </div>
                      <div class="col-xs-10">
                      <table class="table table-condensed table-hover">
                          <thead class="text-success">
                              <tr>
                                  <th>LEAD</th>
                                  <th>Nome</th>
                                  <th>Telefone</th>
                                  <th>Data Aceite</th>
                                  <th>Situação do contrato</th>
                                  <th>Data Situação</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="lc in listaContratos">
                                  <td>{{lc.lead}}</td>
                                  <td>{{lc.nome}}</td>
                                  <td>{{lc.telefone}}</td>
                                  <td>{{lc.datarespostaparceiro}}</td>
                                  <td ng-if="lc.respostaparceiro && !lc.contratoenviado && !lc.enviadoparceiro">Por enviar</td>
                                  <td ng-if="lc.respostaparceiro && lc.contratoenviado && !lc.enviadoparceiro">Enviado ao cliente</td>
                                  <td ng-if="lc.contratoenviado && lc.enviadoparceiro && !lc.datarespostafinal">Enviado ao parceiro</td>
                                  <td ng-if="lc.respostafinalparceiro==1 && !lc.dataativado">Por Ativar</td>
                                  <td ng-if="lc.contratoenviado && !lc.enviadoparceiro">{{lc.contratoenviado}}</td>
                                  <td ng-if="lc.contratoenviado && lc.enviadoparceiro">{{lc.enviadoparceiro}}</td>
                                  <td>
                              </tr>
                          </tbody>
                      </table>                      
                          <a href="#!/listContr" ng-if="qtyContratos>=1" class="btn btn-sm btn-success btn-block">Ver todos</a> 
                  </div>
              </div>
            </div>
        </div>
        
        <!-- FINAL -->
        <div class="col-sm-4">
            <div class="panel panel-warning phcc">
              <div class="panel-heading">
                <h3 class="panel-title">Final</h3>
              </div>
              <div class="panel-body">
                  <p>
                      <a class="btn btn-block btn-info" href="#!/listC/5"  style="font-size: {{t}}em;">CC Atribuidos - {{atribuidos}} </a>
                  </p>
                  <p>
                    <a class="btn btn-block btn-success" href="#!/listC/7"  style="font-size: {{t}}em;">CC Ativados - {{ativados}}</a>
                  </p> 
                  <p>
                      <a class="btn btn-block btn-danger" href="#!/listC/6"  style="font-size: {{t}}em;">CC Recusados - {{recusados}}</a>
                  </p>
              </div>
            </div>
        </div> 
        <div class="col-sm-8">
            <div class="panel panel-primary phcc">
              <div class="panel-heading">
                <h3 class="panel-title">Pesquisa</h3>
              </div>
              <div class="panel-body">
                  <form ng-submit="searchLead(s)">
                      <div class="col-xs-6">
                        <div class="form-inline">
                            <label>LEAD:</label>
                            <input class="form-control input-sm no-spinner" type="number" ng-model="s.lead"/>
                        </div>
                        <div class="form-inline">
                            <label>Parceiro:</label>
                            <select class="form-control" ng-model="s.parceiro" ng-options="parceiro.nome for parceiro in parceiros track by parceiro.id"></select>
                        </div>                           
                        <div class="form-inline">
                            <label>NIF:</label>
                            <input class="form-control input-sm no-spinner" type="number" ng-model="s.nif"/>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="form-inline">
                            <label>Nome:</label>
                            <input class="form-control input-sm" type="text" ng-model="s.nome"/>
                        </div>
                        <div class="form-inline">
                            <label>Email:</label>
                            <input class="form-control input-sm" type="email" ng-model="s.email"/>
                        </div>
                        <div class="form-inline">
                            <label>Telefone:</label>
                            <input class="form-control input-sm no-spinner" type="number" ng-model="s.telefone"/>
                        </div>
                     
                          <br/>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i> Pesquisar</button>
                            <button class="btn btn-warning" type="button" ng-click="clearSearch()"><i class="fa fa-eraser"></i> Limpar</button>
                        </div>
                      </div>
                  </form>  
              </div>
            </div>
        </div>
      
    </div>
    <br/><br/>
</div>




<script>
    $.fn.equalizeHeights = function() {
  var maxHeight = this.map(function( i, e ) {
    return $( e ).height()+17;   //adicionei 17 para incluir botões
  }).get();
  return this.height( Math.max.apply( this, maxHeight ) );
};
 

  $("div .phcc").equalizeHeights();
</script>



<!-- Modal para registar a sugestão de um CC a um cliente -->
<script type="text/ng-template" id="modalRegistarSugestao.html" ng-controller="modalInstanceRegistarSugestao"> 
        <div class="modal-header bg-info">
            <h3 class="modal-title">Registar Sugestão de CC
                <span class="closeModal" ng-click="closeModal()">X</span>
            </h3>
        </div>

        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>LEAD</label>
                    <input class="form-control" type="text" ng-model="r.lead"/>
                </div>
                <div class="form-group">
                    <label>Forma de Sugestão</label>
                    <select class="form-control" ng-model="r.formaSugestao">
                        <option></option>
                        <option value="Telefone">Telefone</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Email">Email</option>
                    </select>
                </div>
                <p>&nbsp;</p>
                <div class="text-center">
                    <button class="btn btn-success" ng-click="saveSugestao(r)"><i class="fa fa-save"></i> Guardar</button>
                    <button class="btn btn-warning" ng-click="closeModal()"> Cancelar</button>
                </div>
            </form>
        </div>
    </script>